.InputField{
  display: flex;
  align-items: center;
  position: relative;
}

.Input{
  border: rgb(108, 179, 179) solid 2px;
  padding-left: 20px;
  padding-right: 50px;
  border-radius: 25px;
  height: 50px;
  width: 60vw;
  font-size: 20px;
  font-family: 'Quintessential', cursive;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.Input:focus{
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.SubmitBtn{
  border: none;
  border-radius: 30px;
  height: 30px;
  padding: 0px 10px;
  font-size: 12px;
  font-family: 'Satisfy', cursive;
  background-color: rgb(108, 179, 179);
  color:white;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 10px;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.SubmitBtn:hover {
  background-color: rgb(136, 221, 221);
}

.SubmitBtn:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todos{
  display: flex;
  justify-content: space-evenly;
  width:60vw;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .Input{
    width:80vw;
  }
  .todos{
    width:80vw;
  }
}