*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:linear-gradient(rgba(224, 255, 255, 0.7), rgba(120, 255, 248, 0.7)), url(https://user-images.githubusercontent.com/4598274/32601320-850ce5ba-c542-11e7-8f0b-fa970680f807.png) no-repeat;
  background-size: 100vw 100vh;
}
